.logo {
    width: 50px;
    height: 50px;
    stroke: #fff;
}


a {
    color: #8f9293;
    text-decoration: none;
}

a:hover {
    color: #c3c4c5;
}

.data-button {
    background: #E02D28;
   }

.icon {
    stroke: #8f9293
}

.iconBox:hover .icon{
    stroke: #c3c4c5
}

.selected {
    color: #fff;
    stroke: #fff;
}

.selected:hover {
    color: #fff;
}


.brand { 
   color: #1C4D68;
   background: #E02D28
}

.brand3 {
     color: #424242;
    }
.accent1 {
     color: #F9AC41
    }
.accent2 {
     color: #D51F5E
    }
.accent3 {
     color: #00A69C
    }
.accent4 {
     color: #9D2064
    }
.accent5 {
     color: #41AEBC
    }
.accent6 {
     color: #A2B33B
    }
.accent7 {
    color:  #8F9293
}
.selected {
    color:  #fff
}

/* @font-face: {
    family: "'ProximaNova', Arial, sans-serif",
    face: `
      @font-face {
        font-family: "ProximaNova";
        src: url("../src/fonts/proximaNova/proxima-nova-regular/proxima-nova-regular.woff") format('woff');
       */